version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: learning-app
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - ./:/var/www
    networks:
      - learning-network

  webserver:
    image: nginx:alpine
    container_name: learning-nginx
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx:/etc/nginx/conf.d
    networks:
      - learning-network

networks:
  learning-network:
    driver: bridge

